{% extends 'dev_html/main.html' %}
{% block content %}
{% load static %}
<!-- start section -->
        <section class="top-space-margin py-0" data-parallax-background-ratio="0.5" style="background-image: url(https://via.placeholder.com/1920x1080)">
            <div class="container-fluid">
                <div class="row justify-content-center text-center">
                    <div class="col-xxl-6 col-lg-9 d-flex flex-column justify-content-center full-screen md-h-600px sm-h-500px">
                        <div class="ps-15 pe-15 lg-px-0">
                            <span class="alt-font ls-minus-05px fs-20 text-dark-gray mb-5 d-inline-block">Posted by <a href="javascript:void(0);" class="text-dark-gray text-dark-gray-hover fw-600 text-decoration-line-bottom">colene landin</a></span>
                            <h1 class="alt-font text-dark-gray fw-600 mb-8 ls-minus-2px">I have a lot of lion jewellery and lion art. I also love crystals.</h1>
                            <a href="javascript:void(0);" class="btn btn-dark-gray btn-medium">luxury design</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="dropcap-style-04">
                            <p><span class="alt-font first-letter first-letter-block border first-letter-round border-2 border-color-light-medium-gray text-dark-gray">N</span>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        </div>
                        <div class="text-center mt-6">
                            <h5 class="alt-font fw-600 text-dark-gray w-90 mx-auto mb-15px xl-w-100">Architecture tends to consume everything else it has become one's entire life.</h5>
                            <span class="text-uppercase fs-14 ls-2px alt-font">- Shoko mugikura -</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="one-fourth-screen" data-parallax-background-ratio="0.5" style="background-image: url(https://via.placeholder.com/1920x1080)"></section>
        <!-- end section -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 last-paragraph-no-margin">
                        <h5 class="alt-font fw-600 text-dark-gray">Tomorrow is the most important thing in life comes into us at midnight very clean.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ullamcorper ex nunc, in fringilla fringilla sed. Nam semper odio eu urna viverra, eu luctus mauris sollicitudin. Morbi ultricies est et odio vehicula, vel lacinia ipsum ullamcorper. Mauris mattis placerat quam, aliquam vestibulum dui bibendum eu. Curabitur eu euismod ex, et hendrerit purus. Donec condimentum neque id iaculis. Etiam dui id dolor lobortis cursus ac maximus nisl in sodales lacus nec cursus varius.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="py-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <img src="https://via.placeholder.com/1200x700" class="w-100 mb-7" alt="">
                        <img src="https://via.placeholder.com/1200x700" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 last-paragraph-no-margin">
                        <h5 class="alt-font fw-600 text-dark-gray mb-15px">Architecture is inhabited sculpture.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ullamcorper ex nunc, in fringilla fringilla sed. Nam semper odio eu urna viverra, eu luctus mauris sollicitudin. Morbi ultricies est et odio vehicula, vel lacinia ipsum ullamcorper. Mauris mattis placerat quam, aliquam vestibulum dui bibendum eu. Curabitur eu euismod ex, et hendrerit purus. Donec condimentum neque id iaculis. Etiam dui id dolor lobortis cursus ac maximus nisl in sodales lacus nec cursus varius.</p>
                        <h5 class="alt-font fw-600 text-dark-gray mt-6 mb-15px">A room is not a room without natural light.</h5>
                        <p>Morbi ultricies est et odio vehicula, vel lacinia ipsum ullamcorper. Mauris mattis placerat quam, aliquam vestibulum dui bibendum eu. Curabitur eu euismod ex, and many hendrerit purus. Donec condimentum vel neque id iaculis. Etiam dolor lobortis cursus ac maximus nisl. In sodales lacus ullamcorper ultricies est et odio vehicula mattis placerat quam cursus varius.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="half-section pt-0"> 
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row mb-30px">
                            <div class="tag-cloud col-md-9 text-center text-md-start sm-mb-15px">
                                <a href="javascript:void(0);">Development</a>
                                <a href="javascript:void(0);">Event</a>
                                <a href="javascript:void(0);">Multimedia </a>
                                <a href="javascript:void(0);">Fashion</a>
                            </div> 
                            <div class="tag-cloud col-md-3 text-uppercase text-center text-md-end">
                                <a class="likes-count fw-500 mx-0" href="#"><i class="fa-regular fa-heart text-red me-10px"></i><span class="text-dark-gray text-dark-gray-hover">05 Likes</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-6">
                                <div class="d-block d-md-flex w-100 box-shadow-extra-large align-items-center border-radius-4px p-7 sm-p-35px">
                                    <div class="w-140px text-center me-50px sm-mx-auto">
                                        <img src="https://via.placeholder.com/125x125" class="rounded-circle w-120px" alt="">
                                        <a href="javascript:void(0);" class="text-dark-gray fw-500 mt-20px d-inline-block lh-20">Colene Landin</a>
                                        <span class="fs-15 lh-20 d-block sm-mb-15px">Co-founder</span>
                                    </div>
                                    <div class="w-75 sm-w-100 text-center text-md-start last-paragraph-no-margin">
                                        <p>Lorem ipsum is simply dummy text of the printing typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley.</p>
                                        <a href="javascript:void(0);" class="btn btn-link btn-medium text-dark-gray mt-15px">All author posts</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 text-center elements-social social-icon-style-04">
                                <ul class="large-icon dark">
                                    <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a></li>
                                    <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i><span></span></a></li>
                                    <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a></li>
                                    <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i><span></span></a></li> 
                                    <li><a class="behance" href="http://www.behance.com/" target="_blank"><i class="fa-brands fa-behance"></i><span></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="bg-very-light-gray"> 
            <div class="container">
                <div class="row justify-content-center mb-1">
                    <div class="col-lg-7 text-center">
                        <span class="alt-font text-dark-gray fs-20 d-inline-block">You may also like</span>
                        <h4 class="alt-font text-dark-gray fw-500">Related posts</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="blog-modern blog-wrapper grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-1col xs-grid-1col gutter-extra-large">
                            <li class="grid-sizer"></li>
                            <!-- start blog item -->
                            <li class="grid-item md-mb-20px">
                                <div class="box-hover text-center">
                                    <figure class="mb-0 position-relative">
                                        <div class="blog-image position-relative overflow-hidden">
                                            <a href="javascript:void(0);"><img src="https://via.placeholder.com/800x1015" alt="" /></a>
                                        </div>
                                        <figcaption class="post-content-wrapper">
                                            <div class="position-relative bg-dark-gray post-content p-25px z-index-2 lh-initial">
                                                <div class="hover-text">
                                                    <a href="javascript:void(0);" class="text-base-color text-base-color-hover fs-14 text-uppercase fw-500 mb-10px d-inline-block">Jewellery</a>
                                                </div>
                                                <a href="javascript:void(0);" class="fs-20 alt-font text-white card-title d-inline-block mb-0">It takes a real designer to design for real women</a>
                                                <div class="box-overlay bg-dark-gray z-index-minus-1"></div>
                                            </div>
                                            <div class="fs-17 alt-font lh-initial bg-base-color text-dark-gray p-15px"><span class="d-inline-block">By <a href="javascript:void(0);" class="text-dark-gray">Jonse robbert</a></span><span class="separator d-inline-block fs-14 fs-14">|</span><a href="#" class="text-dark-gray">30 June 2023</a></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <!-- end blog item -->
                            <!-- start blog item -->
                            <li class="grid-item md-mb-20px">
                                <div class="box-hover text-center">
                                    <figure class="mb-0 position-relative">
                                        <div class="blog-image position-relative overflow-hidden">
                                            <a href="javascript:void(0);"><img src="https://via.placeholder.com/800x1015" alt="" /></a>
                                        </div>
                                        <figcaption class="post-content-wrapper">
                                            <div class="position-relative bg-dark-gray post-content p-25px z-index-2 lh-initial">
                                                <div class="hover-text">
                                                    <a href="javascript:void(0);" class="text-base-color text-base-color-hover fs-14 text-uppercase fw-500 mb-10px d-inline-block">Jewellery</a>
                                                </div>
                                                <a href="javascript:void(0);" class="fs-20 alt-font text-white card-title d-inline-block mb-0">I get sent lots of jewellery by fans, that's absolutely lovely</a>
                                                <div class="box-overlay bg-dark-gray z-index-minus-1"></div>
                                            </div>
                                            <div class="fs-17 alt-font lh-initial bg-base-color text-dark-gray p-15px"><span class="d-inline-block">By <a href="javascript:void(0);" class="text-dark-gray">Katie mcgrath</a></span><span class="separator d-inline-block fs-14">|</span><a href="#" class="text-dark-gray">22 June 2023</a></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <!-- end blog item -->
                            <!-- start blog item -->
                            <li class="grid-item">
                                <div class="box-hover text-center">
                                    <figure class="mb-0 position-relative">
                                        <div class="blog-image position-relative overflow-hidden">
                                            <a href="javascript:void(0);"><img src="https://via.placeholder.com/800x1015" alt="" /></a>
                                        </div>
                                        <figcaption class="post-content-wrapper">
                                            <div class="position-relative bg-dark-gray post-content p-25px z-index-2 lh-initial">
                                                <div class="hover-text">
                                                    <a href="javascript:void(0);" class="text-base-color text-base-color-hover fs-14 text-uppercase fw-500 mb-10px d-inline-block">Jewellery</a>
                                                </div>
                                                <a href="javascript:void(0);" class="fs-20 alt-font text-white card-title d-inline-block mb-0">We don't have a jewellery background, we just come</a>
                                                <div class="box-overlay bg-dark-gray z-index-minus-1"></div>
                                            </div>
                                            <div class="fs-17 alt-font lh-initial bg-base-color text-dark-gray p-15px"><span class="d-inline-block">By <a href="javascript:void(0);" class="text-dark-gray">Rosald smith</a></span><span class="separator d-inline-block fs-14">|</span><a href="#" class="text-dark-gray">05 June 2023</a></div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                            <!-- end blog item -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 text-center mb-2"> 
                        <h6 class="alt-font text-dark-gray fw-500">4 Comments</h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <ul class="blog-comment">
                            <li>
                                <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                    <div class="w-90px sm-w-65px sm-mb-10px">
                                        <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                    </div>
                                    <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                        <a href="#" class="text-dark-gray fw-500">Herman Miller</a>
                                        <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                        <div class="fs-14 lh-24 mb-10px">17 July 2020, 6:05 PM</div>
                                        <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the make book.</p>
                                    </div>
                                </div>
                                <ul class="child-comment">
                                    <li>
                                        <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                            <div class="w-90px sm-w-65px sm-mb-10px">
                                                <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                            </div>
                                            <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                                <a href="#" class="text-dark-gray fw-500">Wilbur Haddock</a>
                                                <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                                <div class="fs-14 lh-24 mb-10px">18 July 2020, 10:19 PM</div>
                                                <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-block d-md-flex w-100 align-items-center align-items-md-start border-radius-5px p-50px md-p-30px sm-p-20px bg-very-light-gray">
                                            <div class="w-90px sm-w-65px sm-mb-10px">
                                                <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                            </div>
                                            <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                                <a href="#" class="text-dark-gray fw-500">Colene Landin</a>
                                                <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                                <div class="fs-14 lh-24 mb-10px">18 July 2020, 12:39 PM</div>
                                                <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Ipsum has been the industry's standard dummy text.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="d-block d-md-flex w-100 align-items-center align-items-md-start ">
                                    <div class="w-90px sm-w-65px sm-mb-10px">
                                        <img src="https://via.placeholder.com/130x130" class="rounded-circle" alt="">
                                    </div>
                                    <div class="w-100 ps-30px last-paragraph-no-margin sm-ps-0">
                                        <a href="#" class="text-dark-gray fw-500">Jennifer Freeman</a>
                                        <a href="#comments" class="btn-reply text-uppercase section-link">Reply</a>
                                        <div class="fs-14 lh-24 mb-10px">19 July 2020, 8:25 PM</div>
                                        <p class="w-85 sm-w-100">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the make a type specimen book.</p>
                                    </div>
                                </div>
                            </li>
                        </ul> 
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section id="comments" class="pt-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 mb-3 sm-mb-6">
                        <h6 class="alt-font text-dark-gray fw-600 mb-5px">Write a comment</h6>
                        <div class="mb-5px">Your email address will not be published. Required fields are marked *</div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <form action="email-templates/contact-form.php" method="post" class="row contact-form-style-02">
                            <div class="col-md-6 mb-30px">
                                <input class="input-name border-radius-4px form-control required" type="text" name="name" placeholder="Enter your name*">
                            </div> 
                            <div class="col-md-6 mb-30px">
                                <input class="border-radius-4px form-control required" type="email" name="email" placeholder="Enter your email address*">
                            </div> 
                            <div class="col-md-12 mb-30px">
                                <textarea class="border-radius-4px form-control" cols="40" rows="4" name="comment" placeholder="Your message"></textarea>
                            </div> 
                            <div class="col-12">
                                <input type="hidden" name="redirect" value="">
                                <button class="btn btn-dark-gray btn-small btn-round-edge submit" type="submit">Post Comment</button>
                                <div class="form-results mt-20px d-none"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="p-0 position-relative">
            <div class="container-fluid p-0">
                {% if insta %}
                <div class="row row-cols-3 row-cols-md-6 instagram-follow-api position-relative g-0">
                    <div class="col instafeed-grid">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img1.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img2.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img3.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img4.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img5.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <div class="col instafeed-grid">
                        <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img6.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
                    </div>
                    <a href="https://www.instagram.com" target="_blank" class="instagram-button alt-font absolute-middle-center bg-white w-120px h-120px md-w-90px md-h-90px text-dark-gray border-radius-100px box-shadow-extra-large d-flex align-items-center justify-content-center"><i class="feather icon-feather-instagram icon-medium"></i></a>
                </div>
                {% endif %}
            </div>
        </section>
        <!-- end section -->
        <!-- start footer -->

        <!-- end footer -->
        <!-- start cookie message -->
        <div id="cookies-model" class="cookie-message bg-dark-gray border-radius-8px"> 
            <div class="cookie-description fs-14 text-white mb-20px lh-22">We use cookies to enhance your browsing experience, serve personalized ads or content, and analyze our traffic. By clicking "Allow cookies" you consent to our use of cookies. </div>   
            <div class="cookie-btn">
                <a href="#" class="btn btn-transparent-white border-1 border-color-transparent-white-light btn-very-small btn-switch-text btn-rounded w-100 mb-15px" aria-label="btn">
                    <span>
                        <span class="btn-double-text" data-text="Cookie policy">Cookie policy</span> 
                    </span>
                </a> 
                <a href="#" class="btn btn-white btn-very-small btn-switch-text btn-box-shadow accept_cookies_btn btn-rounded w-100" data-accept-btn aria-label="text">
                    <span>
                        <span class="btn-double-text" data-text="Allow cookies">Allow cookies</span> 
                    </span>
                </a>
            </div> 
        </div>
        <!-- end cookie message -->
        <!-- start scroll progress -->
        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
            </a>
        </div>
        <!-- end scroll progress -->
        {% endblock %}