{% extends 'dev_html/main.html' %}
{% block content %}
{% load static %}
<!-- start page title -->
<section class="half-section top-space-margin cover-background" style="background-image: url('{% static 'dev/demo-jewellery-store-shop_files/demo-jewellery-store-about-title-bg.jpg' %}')">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center position-relative page-title-extra-large">
                <div class="d-flex flex-column extra-very-small-screen" data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <div class="mt-auto">
                        <h1 class="fw-500 text-dark-gray alt-font mb-0 ls-minus-2px" >User  &nbsp; Signup</h1>
                    </div>
                    <div class="fs-16 fw-500 alt-font text-dark-gray justify-content-center breadcrumb breadcrumb-style-01 mt-auto">
                        <ul>
                            <li><a href="javascript:void(0);" class="text-dark-gray text-medium-gray-hover">Home</a></li>
                            <li>My &nbsp; Register</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- start section -->
<section>
    <div class="container">
        <div class="row g-0 justify-content-center">

            <div class="col-lg-6 col-md-10 offset-xl-2 offset-lg-1 p-6 box-shadow-extra-large border-radius-6px" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay":150, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <span class="fs-26 xs-fs-24 alt-font fw-600 text-dark-gray mb-20px d-block">Create an account</span>
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}

                    <label class="text-dark-gray mb-10px fw-500">Username<span class="text-red">*</span></label>
                    {{ form.username }}
                    {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                    {% endif %}

                    <label class="text-dark-gray mb-10px fw-500">Email address<span class="text-red">*</span></label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                    {% endif %}

                    <label class="text-dark-gray mb-10px fw-500">Password<span class="text-red">*</span></label>
                    {{ form.password }}
                    {% if form.password.errors %}
                    <div class="error">{{ form.password.errors }}</div>
                    {% endif %}

                    <span class="fs-13 lh-22 w-90 lg-w-100 md-w-90 sm-w-100 d-block mb-30px">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#" class="text-dark-gray text-decoration-line-bottom fw-500">privacy policy.</a></span>

                    <button class="btn btn-medium btn-round-edge btn-dark-gray btn-box-shadow  w-100" type="submit">Register</button>
                    <br>
                    <br>

                    <a class="btn btn-medium btn-round-edge btn-dark-gray btn-box-shadow  w-100" href="{% url 'custom_login' %}">Login</a>
                </form>
            </div>

        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="p-0 position-relative">
    <div class="container-fluid p-0">
        {% if insta %}
        <div class="row row-cols-3 row-cols-md-6 instagram-follow-api position-relative g-0">
            <div class="col instafeed-grid">
                <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img1.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
            </div>
            <div class="col instafeed-grid">
                <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img2.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
            </div>
            <div class="col instafeed-grid">
                <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img3.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
            </div>
            <div class="col instafeed-grid">
                <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img4.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
            </div>
            <div class="col instafeed-grid">
                <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img5.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
            </div>
            <div class="col instafeed-grid">
                <figure class="border-radius-0px"><a href="https://www.instagram.com" target="_blank"><img src="{{ insta.instagram_img6.url }}" class="insta-image" alt=""><span class="insta-icon"><i class="fa-brands fa-instagram"></i></span></a></figure>
            </div>
            <a href="https://www.instagram.com" target="_blank" class="instagram-button alt-font absolute-middle-center bg-white w-120px h-120px md-w-90px md-h-90px text-dark-gray border-radius-100px box-shadow-extra-large d-flex align-items-center justify-content-center"><i class="feather icon-feather-instagram icon-medium"></i></a>
        </div>
        {% endif %}
    </div>
</section>
<!-- end section -->
<!-- start cookie message -->
<div id="cookies-model" class="cookie-message bg-dark-gray border-radius-8px">
    <div class="cookie-description fs-14 text-white mb-20px lh-22">We use cookies to enhance your browsing experience, serve personalized ads or content, and analyze our traffic. By clicking "Allow cookies" you consent to our use of cookies. </div>
    <div class="cookie-btn">
        <a href="#" class="btn btn-transparent-white border-1 border-color-transparent-white-light btn-very-small btn-switch-text btn-rounded w-100 mb-15px" aria-label="btn">
                    <span>
                        <span class="btn-double-text" data-text="Cookie policy">Cookie policy</span>
                    </span>
        </a>
        <a href="#" class="btn btn-white btn-very-small btn-switch-text btn-box-shadow accept_cookies_btn btn-rounded w-100" data-accept-btn aria-label="text">
                    <span>
                        <span class="btn-double-text" data-text="Allow cookies">Allow cookies</span>
                    </span>
        </a>
    </div>
</div>
<!-- end cookie message -->
<!-- start scroll progress -->
<div class="scroll-progress d-none d-xxl-block">
    <a href="#" class="scroll-top" aria-label="scroll">
        <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
    </a>
</div>
<!-- end scroll progress -->
{% endblock %}