{% extends 'dev_html/main.html' %}
{% block content %}
{% load static %}        <!-- start page title -->

            <div class="container">
                <div class="row g-0 justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-10 contact-form-style-04 md-mb-50px" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                        <span class="fs-26 xs-fs-24 alt-font fw-600 text-dark-gray mb-20px d-block">Admin login</span>
                        <form action="{% url 'admin_login_process' %}" method="post">
                             {% csrf_token %}
                            <label class="text-dark-gray mb-10px fw-500">Username <span class="text-red">*</span></label>
                            <input class="mb-20px bg-very-light-gray form-control required" type="text" name="username" placeholder="Enter your username" />
                            <label class="text-dark-gray mb-10px fw-500">Password<span class="text-red">*</span></label> 
                            <input class="mb-20px bg-very-light-gray form-control required" type="password" name="password" placeholder="Enter your password" />
                            <div class="position-relative terms-condition-box text-start d-flex align-items-center mb-20px">
                                <label>
                                    <input type="checkbox" name="remember" id="terms_condition" value="1" class="terms-condition check-box align-middle required">
                                    <span class="box fs-14">Remember me</span>
                                </label>
                                <a href="#" class="fs-14 text-dark-gray fw-500 text-decoration-line-bottom ms-auto">Forget your password?</a>
                            </div>
                            <input type="hidden" name="redirect" value="">
                            <button class="btn btn-medium btn-round-edge btn-dark-gray btn-box-shadow submit w-100" type="submit">Login</button> 
                            <div class="form-results mt-20px d-none"></div>
                        </form>
                    </div>

                </div>
            </div>

        <!-- end section -->
        <!-- start section -->

        <!-- end section -->
         <!-- start footer -->

        <!-- end footer -->
        <!-- start cookie message -->

        <!-- end cookie message -->
        <!-- start scroll progress -->

        <!-- end scroll progress -->
        <!-- javascript libraries -->
       {% endblock %}